.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    margin: 0 auto;
    border: 2px solid #0000002a;
    border-radius: 10px;
    background: #18cf18;
    background-image: radial-gradient( circle 533px at 0.1% 104.2%, rgba(20,185,0,1) 0%, rgba(30,138,17,1) 100.2% );
}

button {
    width: 50px;
    border: 1px solid #4d1515 !important;
    height: 50px;
    margin: 3px;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(17, 202, 17);
    background-color: #010f01;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #072c09;
}
button:active {
    transform: scale(0.95);
    box-shadow: none;
}

#result {
    width: 100%;
    height: 50px;
    margin: 2px;
    text-align: right;
    font-size: 20px;
    padding-right: 5px;
    color: white;
    background-color: #333;
    border-radius: 5px;
}
.opreators {
    color: #09f04e;
    background-color: #0d0dd4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opreators:hover {
    background-color: #073366;
}
.equals-button{
    width: 160px;
    color: #000000ad;
    background-color: rgb(240, 240, 232)
}
.equals-button:hover{
    background-color: #e9d30b;
}
.clear-shit{
  color: #000;
  background-color: rgb(232, 240, 239)
}
.clear-shit:hover{
 background-color: #f07109;
}
body {
    background-image: url('https://wallpapercave.com/wp/iAlT4jH.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.textbox{
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #01010ae0;
    border-radius: 10%;
    padding: 10px 20px;
    color: #09f04e;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}
.deleteDigit{
    color: #080000;
    background-color: rgb(243, 41, 10)
}
.deleteDigit:hover {
    background-color: #f00909;
}
